<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="deploy" value="local" />
    <!-- ********************** local *************************** -->
   
    <add key="local.crypKey"                            value="KW2013"/>
    <add key="local.dataProvider"                       value="DataProviderSqlServer"/>
    <add key="local.formatDataForDB"                    value="AGM"/>   
    <add key="local.timeOutUserLogged"                  value="20"/>
    <add key="local.supportedLanguages"                 value="IT"/>
    
    <add key="local.sourcedir"                          value="D:\Projects\effepiwebLibrary\vs\createCms\source\" />
    <add key="local.sourcedirKW"                        value="D:\Projects\effepiwebLibrary\vs\createCms\sourceKW\" />
    <add key="local.supportedLanguages"                 value="IT"/>
    <add key="local.sourcedir"                          value="D:\Projects\effepiweblibrary\vs\createCms\source\" />

    <add key="local.useKW"                              value="false" />
    <add key="local.dataConnection"                     value="Server=dev3x8.treperotto.com;User ID=sa;password=Cracozia!;Initial Catalog=idealiving"/>
    <add key="local.destdir"                            value="D:\Projects\idealiving\vs\backoffice\cms\src\" />
    <!--

    <add key="local.dataConnection"                     value="Server=dev3x8.treperotto.com;User ID=sa;password=Cracozia!;Initial Catalog=metroquadro_albenga"/>
    <add key="local.destdir"                            value="D:\Projects\metroquadro\metroquadroalbenga\vs\backoffice\cms\src\" />
    
    <add key="local.dataConnection"                     value="Server=dev3x8.treperotto.com;User ID=sa;password=Cracozia!;Initial Catalog=martinellimoto"/>
    <add key="local.destdir"                            value="D:\Projects\martinellimoto\vs\backoffice\cms\src\" />
    
    <add key="local.dataConnection"                     value="Server=sql3x8.treperotto.com;User ID=sa;password=Cracozia!;Initial Catalog=saf"/>
    <add key="local.destdir"                            value="D:\Projects\saf\vs\backoffice\cms\src\" />    

    <add key="local.useKW"                              value="false" />
    <add key="local.dataConnection"                     value="Server=dev3x8.treperotto.com;User ID=sa;password=Cracozia!;Initial Catalog=metroquadro_albenga"/>
    <add key="local.destdir"                            value="D:\Projects\metroquadro\metroquadroalbenga\vs\backoffice\cms\src\" />        
    
    <add key="local.useKW"                              value="false" />
    <add key="local.dataConnection"                     value="Server=dev3x8.treperotto.com;User ID=sa;password=Cracozia!;Initial Catalog=martinellimoto"/>
    <add key="local.destdir"                            value="D:\Projects\martinellimoto\vs\backoffice\cms\src\" />
    
    <add key="local.useKW"                              value="false" />
    <add key="local.dataConnection"                     value="Server=srv3x8.treperotto.com;User ID=sa;password=Cracozia!;Initial Catalog=KawasakiPressLink"/>
    <add key="local.destdir"                            value="D:\Projects\kawasaki\vs\KawasakiPressLink\backoffice\cms\src\" />
    
    <add key="local.useKW"                              value="true" />
    <add key="local.dataConnection"                     value="Server=sql3x8.treperotto.com;User ID=sa;password=Cracozia!;Initial Catalog=KawasakiEU16_Stage"/>
    <add key="local.destdir"                            value="D:\Projects\kawasaki\vs\Kawa2016\Kawa16Bo\src\" />
    
    <add key="local.useKW"                              value="true" />
    <add key="local.dataConnection"                     value="Server=sql3x8.treperotto.com;User ID=sa;password=Cracozia!;Initial Catalog=KawasakiEU16_Stage"/>
    <add key="local.destdir"                            value="D:\Projects\kawasaki\vs\Kawa2016\Kawa16Bo\src\" />

    <add key="local.useKW"                              value="false" />
    <add key="local.dataConnection"                     value="Server=sql3x8.treperotto.com;User ID=sa;password=Cracozia!;Initial Catalog=fonesa"/>
    <add key="local.destdir"                            value="D:\Projects\fonesa\vs\backoffice\src\" />

    <add key="local.useKW"                              value="false" />
    <add key="local.dataConnection"                     value="Server=sql3x8.treperotto.com;User ID=sa;password=Cracozia!;Initial Catalog=cast2016"/>
    <add key="local.destdir"                            value="D:\Projects\cast\vs\cast2016\backOffice\src\" />
    
    <add key="local.dataConnection"                     value="Server=sql3x8.treperotto.com;User ID=sa;password=Cracozia!;Initial Catalog=consorzioCast"/>
    <add key="local.destdir"                            value="D:\Projects\cast\vs\cast2016\dataLibs\mgr\src\" />
    
    <add key="local.dataConnection"                     value="Server=sql3x8.treperotto.com;User ID=sa;password=Cracozia!;Initial Catalog=open20_mcp"/>
    <add key="local.destdir"                            value="D:\Projects\open20\vs\mcp\open20Web\src\" />
    
    <add key="local.dataConnection"                     value="Server=sql3x8.treperotto.com;User ID=sa;password=Cracozia!;Initial Catalog=KawasakiEU16_Stage"/>
    <add key="local.destdir"                            value="D:\Projects\kawasaki\vs\Kawa2016\Kawa16Bo\src\" />    

    <add key="local.dataConnection"                     value="Server=sql3x8.treperotto.com;User ID=sa;password=Cracozia!;Initial Catalog=KawasakiEU16_Stage"/>
    <add key="local.destdir"                            value="D:\Projects\kawasaki\vs\Kawa2016\Kawa16Bo\src\" />    
    -->
    
  </appSettings>   
</configuration>